.gray-bg {
  background: #f4f5f8 !important;
}
.service-card-hover::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #090a4c 0%, #726efc 100%);
  z-index: -1 !important;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.service-card-hover:hover:after {
  width: 100%;
}
.service-card-hover:hover .text-gray {
  color: white;
}
.trans03 {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.text-gray {
  color: #5f6168;
}
.br-8 {
  border-radius: 8px;
}
.service-icon-span {
  background: #eeedfb;
  height: 70px;
  width: 70px;
  display: block;
  border-radius: 50px;
  line-height: 70px;
  text-align: center;
}
.service-card-hover:hover .service-icon-span {
  transform: rotateY(180deg);
}
